<settings>

    <servers>
    <server>
        <id>network-nextwork-devops-repo</id>
        <username>aws</username>
        <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
    </server>
    </servers>

    <profiles>
    <profile>
        <id>network-nextwork-devops-repo</id>
        <activation>
        <activeByDefault>true</activeByDefault>
        </activation>
        <repositories>
        <repository>
            <id>network-nextwork-devops-repo</id>
            <url>https://network-528757791308.d.codeartifact.ap-south-1.amazonaws.com/maven/nextwork-devops-repo/</url>
        </repository>
        </repositories>
    </profile>
    </profiles>

    <mirrors>
    <mirror>
        <id>network-nextwork-devops-repo</id>
        <name>network-nextwork-devops-repo</name>
        <url>https://network-528757791308.d.codeartifact.ap-south-1.amazonaws.com/maven/nextwork-devops-repo/</url>
        <mirrorOf>*</mirrorOf>
    </mirror>
    </mirrors>

</settings>